body {
    text-align: center;
    margin: 0px;
}

header {
    background-color: darkcyan;
    color: white;
}

#title {
    margin: 0px;
    padding: 1%;
}

#form {
    margin: 1%;
}

.main {
    margin: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px, solid, black;
    border-radius: 5px;
}

.actions {
    margin: 1%;
}